.header {
  display: grid;
  grid-template-areas: 'checkbox link title' 'image image image' 'description description description';
  grid-template-columns: var(--icon-size) var(--icon-size) 1fr;
  grid-template-rows: max-content 1fr;
  row-gap: var(--spacing);
  border-bottom: 1px solid var(--grey-200);
  padding-bottom: var(--spacing);
  margin-bottom: var(--spacing);

  @media ($sm-up) {
    grid-template-areas: 'checkbox link title image' 'description description description image';
    grid-template-columns: var(--icon-size) var(--icon-size) 2fr 1fr;
    grid-template-rows: max-content 1fr;
    row-gap: 0;
  }
}

.checkbox {
  grid-area: checkbox;
}

.title {
  align-self: center;
  grid-area: title;
}

.link {
  display: grid;
  place-items: center;
  height: calc(var(--icon-size) - var(--spacing));
  width: calc(var(--icon-size) - var(--spacing));
  margin: calc(var(--spacing) / 2);
  grid-area: link;
  border-radius: var(--border-radius);
  outline: calc(var(--spacing) / 4) solid transparent;
  outline-offset: 0;
  transition: background-color var(--transition-duration) ease-in-out,
    outline-color var(--transition-duration) ease-in-out;

  &:focus-visible,
  &:active,
  &:hover {
    background-color: var(--grey-100);
  }

  &:focus-visible,
  &:active {
    outline-color: var(--grey-200);
  }

  svg {
    pointer-events: none;
  }
}

.description {
  margin: 0;
  grid-area: description;
}

.imageWrapper {
  position: relative;
  grid-area: image;
  aspect-ratio: 16 / 9;
  border: 1px solid var(--grey-200);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.image {
  object-fit: cover;
}
