.summary {
  display: grid;
  grid-template-areas: 'checkbox title link chevron' '. description description description';
  grid-template-columns: var(--icon-size) 1fr var(--icon-size) var(--icon-size);
  align-items: center;
}
