.details {
    border: 1px solid black;
}

.summary {
    list-style: none;
    display: grid;
    grid-template-areas: 'checkbox title link chevron' '. description description description';
    grid-template-columns: 50px 1fr 50px 50px;
}

.checkbox {
    grid-area: checkbox;
}

.title {
    margin: 0;
    grid-area: title;
}

.link {
    grid-area: link;
}

.chevron {
    grid-area: chevron;
}

.description {
    margin: 0;
    grid-area: description;
}
