:root {
    --border-radius: 5px;
    --spacing: 8px;
    --transition-duration: 200ms;

    --white: #ffffff;
    --balck: #000000;

    --grey-50: #f9fafb;
    --grey-100: #f3f4f6;
    --grey-200: #e5e7eb;
    --grey-300: #d1d5db;
    --grey-400: #9ca3af;
    --grey-500: #6b7280;
    --grey-600: #4b5563;
    --grey-700: #374151;
    --grey-800: #1f2937;
    --grey-900: #111827;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--grey-900);
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
