.header {
    border-bottom: 1px solid var(--grey-200);
    padding: var(--spacing) 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 1.5em;

    @media ($sm-up) {
        font-size: 2em;
    }

    & > span {
        display: none;

        @media ($sm-up) {
            display: initial;
        }
    }
}
