$xs-up: 'min-width: 0px';
$sm-up: 'min-width: 640px';
$md-up: 'min-width: 768px';
$lg-up: 'min-width: 1024px';
$xl-up: 'min-width: 1280px';

$sm-down: 'max-width: 639.5px';
$md-down: 'max-width: 767.5px';
$lg-down: 'max-width: 1023.5px';
$xl-down: 'max-width: 1279.5px';
