.details {
  border: 1px dashed var(--grey-200);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  transition: border-color var(--transition-duration) ease-in-out;
  background-color: var(--white);
  outline: 1px dashed transparent;
  outline-offset: 0;

  &:hover {
    border-color: var(--grey-400);
  }

  &.complete {
    border-style: solid;
    outline-style: solid;
  }

  &:focus-within {
    border-color: var(--grey-400);
    outline-color: var(--grey-400);
  }
}

.summary {
  list-style: none;
  cursor: pointer;
  outline: 0;

  &::-webkit-details-marker,
  &::marker {
    display: none;
  }
}

.content {
  padding-top: var(--spacing);
  margin-top: var(--spacing);
  border-top: 1px solid var(--grey-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
